{% extends 'base.html.twig' %}

{% block title %}Accepter une commande{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1 class="mb-0">Accepter une commande</h1>
                </div>
                <div class="card-body">
                    ...
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
