{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="mb-0">Historique de commandes</h1>
                </div>
                <div class="card-body">
                    <table class="table table-striped mb-0">
                        <thead>
                        <tr>
                            <th class="text-center">Date</th>
                            <th class="text-center">Nombre de produits</th>
                            <th class="text-center">Total TTC</th>
                            <th class="text-center">Statut</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td class="text-center">{{ order.createdAt|date('d/m/Y') }}</td>
                                <td class="text-center">{{ order.numberOfProducts }}</td>
                                <td class="text-center">{{ order.totalIncludingTaxes|format_currency('EUR') }}</td>
                                <td class="text-center">
                                    {% if order.state == 'created' %}
                                        <span class="badge badge-primary">En cours de traitement</span>
                                    {% elseif order.state == 'cancelled' %}
                                        <span class="badge badge-danger">Annulée</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if is_granted('cancel', order) %}
                                        <a href="{{ path('order_cancel', {id: order.id}) }}" class="btn btn-outline-warning">Annuler</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
