{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h4>Les producteurs près de chez moi</h4>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Ville</th>
                        <th>Tel</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div id="map" class="vh-100"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap">
    </script>
    {{ encore_entry_script_tags('index') }}
{% endblock %}
